{% extends "base.html" %}

{% block content %}
<div id="drawing">
    <div id="pane">
        <canvas id="canvas"></canvas>
    </div>
    <div id="tools">
        <button id="home">home</button>
        <button id="move">move</button>
        <button id="rotate">rotate</button>
        <button id="zoom">zoom</button>
        <button id="draw">draw</button>
    </div>
    <div id="top">
        <button id="undo">undo</button>
        <button id="redo">redo</button>
        <button id="submit">submit</button>
        <button id="clear">cancel</button>
    </div>
</div>
{% endblock %}