{% extends "base.html" %}

{% block content %}
<script src="{{ url_for('static', filename='js/buttons.js') }}" type="module"></script>
<section class="section">
    <div id="drawing">
        <div id="pane" class="box" style="background-image: url({{ url_for('static', filename='assets/OKE_Gen_2_Stars_Pattern.png') }});">
            <canvas id="canvas"></canvas>
        </div>
        <div id="tools">
            <button id="home" title="Home" class="button is-dark"><span class="icon is-small"><i class="fas fa-home"></i></span></button>
            <button id="move" title="Move" class="button is-dark"><span class="icon is-small"><i class="fas fa-up-down-left-right"></i></span></button>
            <button id="rotate" title="Rotate" class="button is-dark"><span class="icon is-small"><i class="fas fa-rotate"></i></span></button>
            <button id="zoom" title="Zoom" class="button is-dark"><span class="icon is-small"><i class="fas fa-magnifying-glass"></i></span></button>
            <button id="draw" title="Draw" class="button is-dark"><span class="icon is-small"><i class="fas fa-pen"></i></span></button>
            <button id="color-black" class="button is-info"><span class="icon">
                <i class="fas fa-circle" style="color: #111111;"></i>
            </span></button>
            <button id="color-silver" class="button is-info"><span class="icon">
                <i class="fas fa-circle" style="color: #bebcbf;"></i>
            </span></button>
            <button id="color-gold" class="button is-info"><span class="icon">
                <i class="fas fa-circle" style="color: #b89865;"></i>
            </span></button>
        </div>
        <div id="top">
            <nav class="level" style="width: 100%;">
                <div class="level-left">
                    <div class="level-item">
                        <button id="undo" class="button is-warning"><span class="icon is-small"><i class="fas fa-rotate-left"></i></span></button>
                    </div>
                    <div class="level-item">
                        <button id="redo" class="button is-warning"><span class="icon is-small"><i class="fas fa-rotate-right"></i></span></button>
                    </div>
                </div>
                <div class="level-right">
                    <div class="level-item">
                        <div class="file is-normal">
                            <label class="file-label">
                                <input id="background-input" class="file-input" type="file" accept="image/*" name="template" onchange="loadBackground(event)">
                                <span class="file-cta">
                                    <span class="file-icon">
                                        <i class="fa fa-file-import"></i>
                                    </span>
                                    <span class="file-label">
                                        Load Background
                                    </span>
                                </span>
                            </label>
                        </div>
                    </div>
                    <div class="level-item">
                        <span></span>
                    </div>
                    <div class="level-item">
                        <button class="button is-success js-modal-trigger" data-target="confirm-submit-modal">
                            <span class="icon is-small"><i class="fas fa-print"></i></span><span>Print</span>
                        </button>
                    </div>
                    <div class="level-item">
                        <span></span>
                    </div>
                    <div class="level-item">
                        <button class="button is-danger js-modal-trigger" data-target="confirm-clear-modal">
                            <span class="icon is-small"><i class="fas fa-trash"></i></span><span>Clear</span>
                        </button>
                    </div>
                </div>
            </div>
        </nav>
    </div>
</section>

<img id="background-upload" hidden="true" />
<script>
    var loadBackground = function(event) {
        var image = document.getElementById("background-upload");
        image.src = URL.createObjectURL(event.target.files[0]);
    };
</script>

<div id="confirm-submit-modal" class="modal">
    <div class="modal-background"></div>
    <div class="modal-content">
        <div class="box">
            <div class="block"><p>Are you sure you want to <b style="color: #48c78e;">PRINT</b>?</p></div>
            <div class="block">
                <button id="submit" class="button is-success">PEN ROBOT GO BRRRRRR</button>
                <button id="cancel-submit" class="button is-warning">I can fix him</button>
            </div>
        </div>
    </div>
    <button class="modal-close is-large" aria-label="close"></button>
</div>
<div id="confirm-clear-modal" class="modal">
    <div class="modal-background"></div>
    <div class="modal-content">
        <div class="box">
            <div class="block"><p>Are you sure you want to <b style="color: #f14668;">CLEAR</b>?</p></div>
            <div class="block">
                <button id="clear" class="button is-danger">F** ME UP FAM</button>
                <button id="cancel-clear" class="button is-warning">I can fix him</button>
            </div>
        </div>
    </div>
    <button class="modal-close is-large" aria-label="close"></button>
</div>
{% endblock %}